body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
	background: #c7e8bd;
}

header
{
	font-size:  16px;
	font-weight: bold;
	text-align: center;
}

.menu-links
{
	text-decoration: none;
	color: green;
	display: block;
	
}
#header
{
	color:black;
	text-align: left;
	float: center;
}
#main-info
{
	display: table-cell;
	vertical-align: top;
	border: solid blue;
	float: left;
	width: 525px;
	height: 361px;
	padding: 10px;
	overflow: auto;
}

#aside-info
{
	height: 410px;
	border: solid black;
	vertical-align: top;
	padding: 5px;
	width: 173px;
	margin-left: 3px;
	overflow: auto;
}
#aside-title-audio
{
	width: 100px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 5px;
	border: solid blue;
	text-align: left;
}

#main
{
	display: table-cell;
	vertical-align: top;
	margin-left: 3px;
	margin-right: 6px;
	float: left;
	height: 356px;
}

#main-table
{
	border: solid blue;
	vertical-align: top;
	display: table;
}

#sub-navigation
{
	padding: 5px;
	width: 535px;
	float: left;
	height: 18px;
	font-size: 14px;
	margin-bottom: 5px;
	border: solid blue;
}
#sub-navigation a
{
	font-size: 14px;
	font-weight: bold;
	color: green;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
#navigation 
{
    margin-left:3px;
    margin-right: 3px;
    display: table-cell;
    font-weight: bold;
    border: solid blue;
    background-color: yellow;
    width: 100px;
    text-align: center;
    padding: 10px;
    height: 200px;
    float:left;
    vertical-align: top;
}
#sidelinks a:link
{
	font size: 14px;
	color: black;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}

#section 
{
    width:350px;
    float:left;
    padding:10px;	 	 
}
#article
{
	height: 400px;
	width: 150px;
    float:left;
    padding:10px;
}

#sub-navigation a:hover
{
	background: #ff8080;
	font-style: none;
	color: black;
}
#navigation a:hover
{
	background: #80ffff;
	font-style: none;
	color: black;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
#all
{
	margin-left: 0px;
}
	
#transcript
{
	color: blue;
	font-size: 12px;
	padding: 2px;
	height: 200px;
	width: 150px;
}

#quiz-link
{
	display: none;
}
audio
{
	width: 130px;
}
