body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
	background: #c7e8bd;
}

header
{
	font-size:  16px;
	font-weight: bold;
}

.menu-links
{
	text-decoration:none;
	color: black;
}

#header
{
	color:black;
	text-align: left;
	
}
#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}
#sub-navigation a:hover
{
	background: #ff8080;
	font-style: none;
	color: black;
}
#navigation a:hover
{
	background: #80ffff;
	font-style: none;
	color: black;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: blue;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

#quiz-link
{
	display: none;
}
audio
{
	width: 230px;
}
