body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
	background: #c3c3d5;
}
header
{
	margin-top: 0px;
	font-size:  16px;
	font-weight: bold;
	text-align: left;
	padding: 0px;
}
h1
{
	margin-top: 0;
}
.menu-links
{
	text-decoration: none;
	color: black;
	display: block;
}
#main-info
{
	display: table-cell;
	vertical-align: top;
	border: solid teal;
	float: right;
	width: 525px;
	height: 410px;
	padding: 10px;
	overflow: auto;
}

#aside-info
{
	height: 420px;
	border: solid teal;
	vertical-align: top;
	padding: 5px;
	width: 173px;
	margin-left: 3px;
	overflow: auto;
}
#main
{
	display: table-cell;
	vertical-align: top;
	margin-left: 3px;
	margin-right: 6px;
	float: left;
	height: 410px;
}

#main-table
{
	border: solid teal;
	vertical-align: top;
	display: table;
}

#sub-navigation
{
	padding: 5px;
	width: 535px;
	float: center;
	height: 18px;
	font-size: 14px;
	vertical-align: top;
	margin-left: 135px;
	margin-bottom: 15px;
	border: solid teal;
}
#sub-navigation a
{
	font-size: 14px;
	font-weight: bold;
	color: black;
	width: 120px;
	text-align: left;
	padding: 4px;
	text-decoration: none;
}
#navigation 
{
    margin-left:3px;
    margin-right: 3px;
    display: table-cell;
    font-weight: bold;
    border: solid teal;
    width: 100px;
    text-align: center;
    padding: 10px;
    height: 410px;
    float:left;
    vertical-align: top;
}

#sub-navigation a:hover
{
	background: #80ffff;
	font-style: none;
	color: black;
}
#navigation a:hover
{
	background: #80ffff;
	font-style: none;
	color: black;
}

#aside-title-audio
{
	background: #666666;
	width: 140px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
	border: solid teal;
}

#content-frame
{
	border: none;
}
#all
{
	margin-left: 0px;
}
	
#transcript
{
	color: black;
	font-size: 12px;
	padding: 2px;
	height: 200px;
	width: 150px;
}

#quiz-link
{
	display: none;
}
#cert-link
{
	display: none;
}
audio
{
	width: 130px;
}